{% extends 'administrator/tempalte.html.twig' %}
{% block enhead %}
    <h2>Adminstration : </h2>   
    <h5>  </h5>
{% endblock %}

{% block contenu %}
                
      <hr />
               
            
                            <div class="col-md-12">
                     
                    <div class="panel panel-default">
                       
                        <div class="panel-heading">
                           <h1>Bienvenu dans l'espace Administrateur</h1>
                        </div>
                        
                        
                    </div>
                    
                </div>

 {% endblock %}

